<section id="add">

  <div class="myInputs">

  <form class="form-signin" name="my_form" action="/add_game" method="post">
    <input id="auto-winner1" class="form-control" name="winner1" placeholder="Winner first player&hellip;"></input>
    <br><br>
    <input id="auto-winner2" class="form-control" name="winner2" placeholder="Winner second player&hellip;"></input>
    <br><br>
    <input id="auto-loser1" class="form-control" name="loser1" placeholder="Loser first player&hellip;"></input>
    <br><br>
    <input id="auto-loser2" class="form-control" name="loser2" placeholder="Loser second player&hellip;"></input>
    <br><br>
    <input id="auto-score" class="form-control" name="score" placeholder="Score&hellip;"></input>
    <br><br>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Add Game</button>
  </form>

  </div>


<script src="/js/auto-complete.js"></script> 
<script> 
  var all_choices = <%= @players %>;
  var all_scores = ["23-21","22-20","21-19","21-18","21-17","21-16","21-15","21-14","21-13","21-14","15-13","15-12","15-11","15-10","15-09","15-08","15-07","24-22","25-23","21-12","21-11","21-10"]
</script> 

<script> 
  $('#auto-winner1').on('focus', function() {
   document.body.scrollTop += this.getBoundingClientRect().top - 1;
  });
  $('#auto-winner2').on('focus', function() {
   document.body.scrollTop += this.getBoundingClientRect().top - 1;
  });
  $('#auto-loser1').on('focus', function() {
   document.body.scrollTop += this.getBoundingClientRect().top - 1;
  });
  $('#auto-loser2').on('focus', function() {
   document.body.scrollTop += this.getBoundingClientRect().top - 1;
  });
  $('#auto-score').on('focus', function() {
   document.body.scrollTop += this.getBoundingClientRect().top - 1;
  });
</script>

<br></br>

</section>
<table>
  <caption>Today's Stats</caption>
  <thead>
    <tr>
      <th scope="col" colspan="1">Player</th>
      <th class="numbered_stats" scope="col" colspan="1">Wins</th>
      <th class="numbered_stats" scope="col" colspan="1">Losses</th>
      <th class="numbered_stats" scope="col" colspan="1">Win %</th>
      <th class="numbered_stats" scope="col" colspan="1">Points</th>
    </tr>
  </thead>
  <tbody>
      <% @todays_stats.each do |stat| %>
    <tr>
        <td><%= stat[:player] %></td>
        <td class="numbered_stats"><%= stat[:wins] %></td>
        <td class="numbered_stats"><%= stat[:losses] %></td>
        <td class="numbered_stats"><%= stat[:win_percentage] %>%</td>
        <% if stat[:score] > 0 %>
          <td class="numbered_stats">+<%= stat[:score] %></td>
        <% else %>
          <td class="numbered_stats"><%= stat[:score] %></td>
        <% end %>
    </tr>
      <% end %>
  </tbody>
</table>

<br></br>

<table class="games">
  <caption>Today's Games</caption>
  <thead>
    <tr>
      <th class="date" scope="col" colspan="1">Date</th>
      <th scope="col" colspan="1">Winner</th>
      <th scope="col" colspan="1">Loser</th>
      <th scope="col" colspan="1">Score</th>
      <th scope="col" colspan="1">Edit</th>
    </tr>
  </thead>
  <tbody>
      <% @todays_games.each do |game| %>
    <tr>
        <td class="date"><%= game.date %></td>
        <td><a href="/players/<%= game.winner1 %>" ><%= game.winner1 %> /<br><a href="/players/<%= game.winner2 %>" ><%= game.winner2 %> </td>
        <td><a href="/players/<%= game.loser1 %>" ><%= game.loser1 %> /<br><a href="/players/<%= game.loser2 %>" ><%= game.loser2 %> </td>
        <td><%= game.score %></td>
        <td><span><a href="/<%= game.id %>">[edit]</a></span></td>
    </tr>
      <% end %>
  </tbody>
</table>

<br></br>

<% if @min_years_stats[0] %>
<table>
  <caption><%= @year %> Stats</caption>
  <thead>
    <tr>
      <th class="rank" scope="col" colspan="1"># </th>
      <th scope="col" colspan="1">Player</th>
      <th class="numbered_stats" scope="col" colspan="1">Wins</th>
      <th class="numbered_stats" scope="col" colspan="1">Losses</th>
      <th class="numbered_stats" scope="col" colspan="1">Win %</th>
      <th class="numbered_stats" scope="col" colspan="1">Games</th>
    </tr>
  </thead>
  <tbody>

    <% @min_years_stats.each_with_index do |stat, rank| %>
    <tr>
        <td class="rank"><%= (rank + 1).to_s %></td>
        <td class="player_link"><a href="/players/<%= stat[:player] %>" > <%= stat[:player] %></td>
        <td class="numbered_stats"><%= stat[:wins] %></td>
        <td class="numbered_stats"><%= stat[:losses] %></td>
        <td class="numbered_stats"><%= stat[:win_percentage] %>%</td>
        <td class="numbered_stats"><%= stat[:total_games] %></td>
    </tr>
    <% end %>

  </tbody>
</table>

<br></br>
<% end %>

<table>
  <caption>Less than <%= @min_games.to_s %> games</caption>

  <thead>
    <tr>
      <th class="rank" scope="col" colspan="1"># </th>
      <th scope="col" colspan="1">Player</th>
      <th class="numbered_stats" scope="col" colspan="1">Wins</th>
      <th class="numbered_stats" scope="col" colspan="1">Losses</th>
      <th class="numbered_stats" scope="col" colspan="1">Win %</th>
      <th class="numbered_stats" scope="col" colspan="1">Games</th>
    </tr>
  </thead>
  <tbody>

    <% @years_stats.each_with_index do |stat, rank| %>
    <tr>
        <td class="rank"><%= (rank + 1).to_s %></td>
        <td class="player_link"><a href="/players/<%= stat[:player] %>" > <%= stat[:player] %></td>
        <td class="numbered_stats"><%= stat[:wins] %></td>
        <td class="numbered_stats"><%= stat[:losses] %></td>
        <td class="numbered_stats"><%= stat[:win_percentage] %>%</td>
        <td class="numbered_stats"><%= stat[:total_games] %></td>
    </tr>
    <% end %>

  </tbody>
</table>

<br><br>

<h1><a href="/edit_games">Edit Games</a></h1>
<h1><a href="/players">Players</a></h1>
<h1><a href="/add_game">Add Game</a></h1>
<h1><a href="/add_vollis_game">Add Vollis Game</a></h1>
