<table>
  <caption><%= @golfer %>'s Stats <%= @year %></caption>
  <thead>
    <tr>
      <th class="rank" scope="col" colspan="1"># </th>
      <th scope="col" colspan="1">Location</th>
      <th class="numbered_stats" scope="col" colspan="1">Par</th>
      <th class="numbered_stats" scope="col" colspan="1">Score</th>
      <th class="numbered_stats" scope="col" colspan="1">Date</th>
    </tr>
  </thead>
  <tbody>
      <% @golfer_stats.each_with_index do |stat, rank| %>
    <tr>
        <td class="rank"><%= (rank + 1).to_s %></td>
        <td class="numbered_stats"><%= stat.par %></td>
        <td class="numbered_stats"><%= stat.location %></td>
        <td class="numbered_stats"><%= stat.score %></td>
        <td class="numbered_stats"><%= stat.date %></td>
    </tr>
      <% end %>
  </tbody>
</table>


