 <table>
 	<caption><%= @player %>'s Stats</caption>
 </table>	

<% @years.each do |year| %>
	<h1><a href="/players/<%= @player %>/<%= year %>"><%= year %></a></h1>  
<% end %>

<h1><a href="/allyears/<%= @player %>">All Years Combined</a></h1>  