<% if @todays_stats.length > 0 %>
	Today's Stats
  <br></br>
  <% @todays_stats.each do |stat| %>
    <article>
      <%= stat[:player] %> - <%= stat[:wins] %>-<%= 
        stat[:losses] %> - <%= stat[:win_percentage] %>%
    </article>
  <% end %>
  <br></br>
<% end %>

2017 Stats
<br></br>
<% @years_stats.each_with_index do |stat, x| %>
  <article>
    <%= (x + 1).to_s %> <a href="/players/<%= stat[:player] %>" > <%= stat[:player] %></a> - <%= stat[:wins] %>-<%= stat[:losses] %> - <%= stat[:win_percentage] %>%  -  <%= stat[:total_games] %>
  </article>
<% end %>